* {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.nav {
  display: inline-block;
  background-color: red;
}

.nav span {
  border: 2px solid seashell;
  padding: 10px;
  margin: 10px;
}

.nav a {
  text-decoration: none;

}
